# virtual env
.venv/

# data
data/*

# python cache
src/opti_med/__pycache__/
*.pyc

#modules
frontend/node_modules/
frontend/dist/*

# mac
.DS_Store

#docs
docs/*
documentation/*

#egg-info
*.egg-info/


